.band-list-container {
  display: flex;
  flex-direction: row;
  gap: 5.5rem;
  align-items: baseline;
  border-bottom: 1px #555 solid;
}
.band-list-container .band-head-list{
    margin: 0 0 20px 0;
}
.band-list-container td {
  color: #afcb89;
  width: 134px;
}

.still-active {
  color: green;
}

.not-active {
  color: red;
}
