.connexion-container {
  border: 2px white solid;
  width: 198px;
  height: auto;
  padding: 5px 15px 34px 13px;
  background-color: #381a10;
}

.connexion-info {
  display: flex;
  flex-direction: column;
}

.connexion-info input {
  background-color: rgba(30, 30, 30, 0.85);
  border: 2px solid #555;
}

.connexion-info input:focus {
  outline: none;
  border-color: #888;
  background-color: rgba(40, 40, 40, 0.9);
}

button[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 1rem;
  font-weight: 600;
  cursor: none;
  background: none;
  border: none;
  transition: all 0.2s ease;
  cursor: pointer;
  color: #afcb89;
  align-self: flex-end;
}

button[type="submit"]:hover {
  color: #8f333b;
}

.connexion-links {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  margin-top: 1rem;
  justify-content: space-around;
}

.connexion-links a {
  font-size: 1rem;
  font-weight: 600;
  background: none;
  border: none;
  transition: all 0.2s ease;
  cursor: pointer;
  color: white;
  text-decoration: none;
  font-size: 0.9em;
}

.connexion-links a:hover {
  color: #8f333b;
}
