.randominfos-container {
  border: 2px white solid;
  width: 198px;
  height: auto;
  padding: 5px 15px 34px 13px;
  background-color: #381a10;
}

.randominfos-info {
  display: flex;
  flex-direction: column;
}

.randominfos-info input {
  background-color: rgba(30, 30, 30, 0.85);
  border: 2px solid #555;
}

.randominfos-info input:focus {
  outline: none;
  border-color: #888;
  background-color: rgba(40, 40, 40, 0.9);
}

.randominfos-info h3{
    margin-bottom: 15px;
    margin-top: 5px;
    padding-bottom: 0px;
    padding-top: 5px;
}
.randominfos-info p{
    font-size: 0.8rem;
    margin-bottom: 5px;
}

.randominfos-info p:last-child{
    margin-bottom: 10px;

}